/* Footer
================================================== */


/*- Footer common */

.footer {
    background-color: #0d0d0d;
    color: #999;
}


.footer-main {
    padding: 80px 0 60px;
}

.footer .widget-title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    border-left: 3px solid #0084D9;
}




/* Footer about us */

.footer-logo {
    margin-bottom: 25px;
}


/* Footer social */

.footer-social {
    margin-top: 15px;
}

.footer-social .widget-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    margin: 0 10px 0 0;
    display: inline-block;
}

.footer-social ul li a i {
    display: block;
    font-size: 18px;
    color: #999;
    background: none;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.footer-social ul li a i:hover {
    color: #0084D9;
}




/* Links */

.footer-widget ul.list-arrow li {
    border-bottom: 1px solid rgba(255, 255, 255, .07);
    padding: 8px 0;
	
	
}

.footer-widget ul.list-arrow li:last-child {
    border-bottom: 0;
}

.footer-widget ul.list-arrow li a,
.footer-widget ul.list-arrow li:before {
    color: #b5b5b5;
}

.footer-widget ul.list-arrow li:hover a,
.footer-widget ul.list-arrow li:hover {
    color: #0084D9;
}

.working-hours {
    padding-right: 10px;
}

.working-hours .text-right {
    float: right;
}


/*-- Copyright --*/

.copyright {
    background: #0084D9;
    color: #111;
    padding: 25px 0;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 12px;
}

.footer-menu {
    float: right;
}

.footer-menu ul li {
    display: inline-block;
    line-height: 12px;
    padding-left: 15px;
}

.footer-menu ul.nav li a {
    background: none;
    color: #111;
    padding: 0;
}

.footer-menu ul li a:hover {
    color: #fff;
}

#back-to-top {
    right: 40px;
    top: auto;
    z-index: 10;
    -webkit-backface-visibility: hidden;
}

#back-to-top.affix {
    bottom: 20px;
}

#back-to-top .btn.btn-primary {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    color: #0084D9;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
}

#back-to-top .btn.btn-primary:hover {
    color: #fff;
}


/* responsive styles for footer starts */


/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width:1199px){


	/* Footer */

	.footer-social ul li {
   	margin: 0 3px 0 0;
   }

   .footer-menu {
    	float: none;
	}

	#back-to-top.affix {
    	bottom: 35px;
	}

	#back-to-top {
    	right: 15px;
   }


}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

/* Footer */

	.action-box{
		margin-bottom: 30px;
	}

	.footer-widget{
		display: inline-block;
		margin-bottom: 30px;
	}

	.newsletter-form input{
		width: 90%;
	}

	#back-to-top{
		right: 20px;
	}
	
	
	}


@media (max-width : 767px){

/* Footer */

	.action-box{
		margin-bottom: 30px;
	}

	.footer-widget{
		display: inline-block;
		margin-top: 40px;
	}

	#back-to-top.affix {
	   bottom: 70px;
	}

	#back-to-top{
		right: 10px;
	}

	.copyright-info{
		font-size: 13px;
		text-align: center;
	}

	.footer-menu {
    	float: none;
    	text-align: center;
	}

	.footer-menu ul li{
		padding-left: 5px;
	}

	.footer-menu ul.nav li a{
		font-size: 12px;
	}
	
	
	}




#footer {
	
	background-color: #0d0d0d; color: #b5b5b5;
	
}